<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Android 12 and lower -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.EchoBox">

        <activity android:name=".activities.PlayerActivity" android:exported="false" />
        <activity android:name=".activities.TopPlayedActivity" android:exported="false" />
        <activity android:name=".activities.SongListActivity" android:exported="false" />
        <activity android:name=".activities.AddSongActivity" android:exported="false" />
        <activity android:name=".activities.HomeActivity" android:exported="false" />
        <activity android:name=".activities.RegisterActivity" android:exported="false" />

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>